<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


    {% block stylesheets %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">E-Classique</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">

                    <li {% if app.request.attributes.get('_route') == 'r_tapp_homepage' %} class="active" {% endif %}>
                        <a href="{{ path('r_tapp_homepage') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
                    </li>


                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Musiciens <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li {% if app.request.attributes.get('_route') == 'catalog_musicien_composers' %} class="active" {% endif %}><a href="{{ path('catalog_musicien_composers') }}">Compositeurs</a></li>
                            <li {% if app.request.attributes.get('_route') == 'catalog_musicien_interpretes' %} class="active" {% endif %}><a href="{{ path('catalog_musicien_interpretes') }}">Interprètes</a></li>
                            <li {% if app.request.attributes.get('_route') == 'catalog_musicien_chefsOrchestre' %} class="active" {% endif %}><a href="{{ path('catalog_musicien_chefsOrchestre') }}">Chefs d'orchestre</a></li>
                            <li role="separator" class="divider"></li>
                            <li {% if app.request.attributes.get('_route') == 'rt_music_homepage' %} class="active" {% endif %}><a href="{{ path('rt_music_homepage') }}">Tous les musiciens</a></li>
                        </ul>
                    </li>



                    <li {% if app.request.attributes.get('_route') == 'rt_music_albums' %} class="active" {% endif %}><a href="{{ path('rt_music_albums') }}">Albums</a></li>
                    <li {% if app.request.attributes.get('_route') == 'catalog_oeuvre_index' %} class="active" {% endif %}><a href="{{ path('catalog_oeuvre_index') }}">Oeuvres</a></li>
                    <li {% if app.request.attributes.get('_route') == 'catalog_genre_index' %} class="active" {% endif %}><a href="{{ path('catalog_genre_index') }}">Genres</a></li>
                    <li {% if app.request.attributes.get('_route') == 'catalog_instrument_index' %} class="active" {% endif %}><a href="{{ path('catalog_instrument_index') }}">Instruments</a></li>
                    <li {% if app.request.attributes.get('_route') == 'catalog_orchestre_index' %} class="active" {% endif %}><a href="{{ path('catalog_orchestre_index') }}">Orchestres</a></li>
                    <li {% if app.request.attributes.get('_route') == 'r_tapp_aboutpage' %} class="active" {% endif %}>
                        <a href="{{ path('r_tapp_aboutpage') }}"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> À propos</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if app.user is null  %}

                        <li {% if app.request.attributes.get('_route') == 'login' %} class="active" {% endif %}>
                            <a href="{{ path('login') }}"><span class="glyphicon glyphicon-user"></span> Se connecter</a></li>
                        <li {% if app.request.attributes.get('_route') == 'signin' %} class="active" {% endif %}>
                            <a href="{{ path('signin') }}"><span class="glyphicon glyphicon-list" aria-hidden="true"></span>  Inscription</a></li>

                        {% else %}

                        <li><a href="{{ path('cart_details') }}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">Panier</span></a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> {{ app.user.prenomAbonne }} {{ app.user.nomAbonne }} <span class="caret"></span></a>

                            <ul class="dropdown-menu">
                                <li {% if app.request.attributes.get('_route') == 'cart_purchases' %} class="active" {% endif %}>
                                    <a href="{{ path('cart_purchases') }}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Achats</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="{{ path('logout') }}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Se déconnecter</a>
                                </li>
                            </ul>

                        </li>


                    {% endif %}

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container" style="padding-top: 70px;">
        {% block body %} {% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    {% block javascripts %}{% endblock %}
</body>

</html>
