<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <!-- Latest compiled and minified CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Projet Symfony</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">

                    <li {% if app.request.attributes.get('_route') == 'r_tapp_homepage' %} class="active" {% endif %}><a href="{{ path('r_tapp_homepage') }}">Home</a></li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Musiciens <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li {% if app.request.attributes.get('_route') == 'catalog_musicien_composers' %} class="active" {% endif %}><a href="{{ path('catalog_musicien_composers') }}">Compositeurs</a></li>
                            <li {% if app.request.attributes.get('_route') == 'catalog_musicien_interpretes' %} class="active" {% endif %}><a href="{{ path('catalog_musicien_interpretes') }}">Interprètes</a></li>
                            <li><a href="#">Chefs d'orchestre</a></li>
                            <li role="separator" class="divider"></li>
                            <li {% if app.request.attributes.get('_route') == 'rt_music_homepage' %} class="active" {% endif %}><a href="{{ path('rt_music_homepage') }}">Tous les musiciens</a></li>
                        </ul>
                    </li>


                    <li {% if app.request.attributes.get('_route') == 'rt_music_albums' %} class="active" {% endif %}><a href="{{ path('rt_music_albums') }}">Albums</a></li>
                    <li {% if app.request.attributes.get('_route') == 'catalog_oeuvre_index' %} class="active" {% endif %}><a href="{{ path('catalog_oeuvre_index') }}">Oeuvres</a></li>
                    <li {% if app.request.attributes.get('_route') == 'catalog_genre_index' %} class="active" {% endif %}><a href="{{ path('catalog_genre_index') }}">Genres</a></li>
                    <li {% if app.request.attributes.get('_route') == 'catalog_instrument_index' %} class="active" {% endif %}><a href="{{ path('catalog_instrument_index') }}">Instruments</a></li>
                    <li {% if app.request.attributes.get('_route') == 'r_tapp_aboutpage' %} class="active" {% endif %}><a href="{{ path('r_tapp_aboutpage') }}">A propos</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>



    <div class="container" style="padding-top: 70px;">
        {% block body %}{% endblock %}
    </div>
    {% block javascripts %}{% endblock %}
</body>
</html>
