{% extends('IUTappBundle::layout.html.twig') %}

{% block title %}
    {{ album.titreAlbum}}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            <img src="{{ path('rt_music_generatePicture', {'class':'Album', 'id' : album.codeAlbum}) }}" alt="pochette de l'album {{ album.titreAlbum }}" >
        </div>

        <div class="col-md-6">
            <div class="row">
                <h1>{{ album.titreAlbum }}</h1>

            </div>
            <div class="row">
                <p>Année : {{ album.annéeAlbum }}</p>
                <p>Genre : <a href="{{ path('catalog_genre_details', {'id' : album.codeGenre.codeGenre }) }}">
                        {{ album.codeGenre.libelléAbrégé }}
                    </a></p>
                <p>Editeur : {{ album.codeEditeur.nomEditeur }}</p>
                <p>Code ASIN: {{ album.ASIN }}</p>

                {% if infos["LowestNewPrice"] is not null %}
                    {% if infos["TotalNew"] is not null %}
                    <p>{{ infos["TotalNew"] }} neuf(s) à partir de <strong>{{ infos["LowestNewPrice"] }} </strong></p>
                    {% endif %}
                {% endif %}

                {% if infos["LowestUsedPrice"] is not null %}
                    {% if infos["TotalUsed"] is not null %}
                        <p>{{ infos["TotalUsed"] }} d'occasion à partir de <strong>{{ infos["LowestUsedPrice"] }} </strong></p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row"></div>
    <div class="row">
        <div class="col-md-[12">

            <div class="alert alert-danger" role="alert">
                L'achat de l'album sur Amazon n'est pas encore disponible.
            </div>
        </div>
    </div>

    {# One review only #}
    {% if infos["EditorialReview"] is not null %}
    <div>
        <h2>Description du produit</h2>
        <p>{{ infos["EditorialReview"] | raw}}</p>
    </div>
    {% endif %}

    {# Many reviews #}
    {% if infos["EditorialReviews"] is not null %}
    <div>
        <h2>Description du produit</h2>

        {% for reviews in infos["EditorialReviews"] %}
            <p>{{ reviews["Content"] | raw}}</p>
        {% endfor %}
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">

            {% for disque in disques %}
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center"><a href="{{ path('catalog_disque_details', {'id' : disque['disc'].codeDisque}) }}">{{ disque['disc'].référenceAlbum }} {{ disque['disc'].référenceDisque }}</a></h2>
                </div>

            </div>

            <div class="row">
                <div class="com-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th>Durée</th>
                                    <th>Prix</th>
                                    <th>Extrait</th>
                                    <th>Achat</th>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                            {%  for enregistrement in disque['records'] %}
                            <tr>
                                <td>{{ enregistrement.Titre }}</td>
                                <td>{{ enregistrement.durée }}</td>
                                <td>{{ enregistrement.prix }}</td>
                                <td><audio controls><source src="{{ path('catalog_default_generateTrack', {'id' : enregistrement.codeEnregistrement}) }}" type="audio/mpeg"></audio></td>
                                <td><a href="{{ path('cart_add', {'idRecord' : enregistrement.codeEnregistrement}) }}">Acheter</a></td>
                            </tr>
                            {% endfor %}
                            </tbody>

                        </table>

                    </div>
            {% endfor %}
        </div>
    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h2 class="text-center">Détails sur le produit</h2></div>

                <table class="table table-hover">

                <tbody>

                    {% if infos["SalesRank"] is not null %}
                    <tr><td>Classement des meilleures ventes Amazon en Musique : {{ infos["SalesRank"] }}</td></tr>
                    {% endif %}

                    {% if infos["Binding"] is not null %}
                    <tr><td>{{ infos["Binding"] }}</td></tr>
                    {% endif %}

                    {% if infos["Brand"] is not null %}
                    <tr><td>Label : {{ infos["Brand"] }}</td></tr>
                    {% endif %}

                    {% if infos["Language"] is not null %}
                    <tr><td>Langue : {{ infos["Language"] }}</td></tr>
                    {% endif %}

                    {% if infos["Creator"] is not null %}
                    <tr><td>{{ infos["Creator"]["Role"] }} : {{ infos["Creator"]["_"] }}</td></tr>
                    {% endif %}

                    {% if infos["Creators"] is not null %}
                    {% for creator in infos["Creators"] %}
                    <tr><td>{{ creator["Role"] }} : {{ creator["_"] }}</td></tr>
                    {% endfor %}
                    {% endif %}

                    {% if infos["Genre"] is not null %}
                    <tr><td>Genre : {{ infos["Genre"] }}</td></tr>
                    {% endif %}

                    {% if infos["Studio"] is not null %}
                    <tr><td>Studio : {{ infos["Studio"] }}</td></tr>
                    {% endif %}

                    {% if infos["ProductGroup"] is not null %}
                    <tr><td>Production : {{ infos["ProductGroup"] }}</td></tr>
                    {% endif %}

                    {% if infos["ReleaseDate"] is not null %}
                    <tr><td>Date de sortie : {{ infos["ReleaseDate"] }}</td></tr>
                    {% endif %}

                    {% if infos["PublicationDate"] is not null %}
                    <tr><td>Date de publication : {{ infos["PublicationDate"] }}</td></tr>
                    {% endif %}

                </tbody>
                </table>
        <div class="panel-footer">Retrouvez tous les détails de cet album sur <a href=" {{ it["DetailPageURL"] }}">Amazon</a> !</div>
    </div>

    {% if infos["SimilarProducts"] is not null %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Produits similaires</h2>
            <table class="table table-hover">
                <tbody>
                    {% for product in infos["SimilarProducts"] %}
                    <tr><td><a href="http://www.amazon.fr/exec/obidos/ASIN/{{ product["ASIN"] }}">{{ product["Title"] }}</a></td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

{% endblock %}