{% extends('IUTappBundle::layout.html.twig') %}

{% block title %}
    {{ album.titreAlbum}}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            <img src="{{ path('rt_music_generatePicture', {'class':'Album', 'id' : album.codeAlbum}) }}" alt="pochette de l'album {{ album.titreAlbum }}" >
        </div>

        <div class="col-md-6">
            <div class="row">
                <h1>{{ album.titreAlbum }}</h1>

            </div>
            <div class="row">
                <p>Année : {{ album.annéeAlbum }}</p>
                <p>Genre : <a href="{{ path('catalog_genre_details', {'id' : album.codeGenre.codeGenre }) }}">
                        {{ album.codeGenre.libelléAbrégé }}
                    </a></p>
                <p>Editeur : {{ album.codeEditeur.nomEditeur }}</p>
                <p>Code ASIN: {{ album.ASIN }}</p>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                L'écoute des morceaux n'est pas encore disponible
            </div>
            <div class="alert alert-danger" role="alert">
                L'achat des morceaux n'est pas encore disponible
            </div>
            <div class="alert alert-danger" role="alert">
                L'achat de l'album sur Amazon n'est pas encore disponible
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            {% for disque in disques %}
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center"><a href="{{ path('catalog_disque_details', {'id' : disque['disc'].codeDisque}) }}">{{ disque['disc'].référenceAlbum }} {{ disque['disc'].référenceDisque }}</a></h2>
                </div>

            </div>

            <div class="row">
                <div class="com-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th>Durée</th>
                                    <th>Prix</th>
                                    <th>Extrait</th>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                            {%  for enregistrement in disque['records'] %}
                            <tr>
                                <td>{{ enregistrement.Titre }}</td>
                                <td>{{ enregistrement.durée }}</td>
                                <td>{{ enregistrement.prix }}</td>
                                <td><audio controls><source src="{{ path('catalog_default_generateTrack', {'id' : enregistrement.codeEnregistrement}) }}" type="audio/mpeg"></audio></td>
                            </tr>
                            {% endfor %}
                            </tbody>

                        </table>

                    </div>
                </div>
            </div>



            {% endfor %}
        </div>
    </div>






{% endblock %}