{% extends('IUTappBundle::layout.html.twig') %}

{% block title %}
    Connection
{% endblock %}

{% block body %}

    {# display error, if there is one #}
    {#{% if error %}
        <div class="alert alert-danger">{{ error.message }}</div>
    {% endif %}#}

    {# Login form #}
    {{ form(form) }}

    {% if user != null %}
    {{ user.login }}
    {{ user.password }}
    {% endif %}


    {% if coucou != null %}
        {{ coucou }}
    {% endif %}
{% endblock %}

