{% extends('IUTappBundle::layout.html.twig') %}

{% block title %}
    {{ orchestre.nomOrchestre }}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <h1>{{ orchestre.nomOrchestre }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            {% if chefOrchestre is null %}
                <p>Le chef d'orchestre est inconnu.</p>
            {% else %}

                <p><a href="{{ path('rt_music_musicien_details_page', {'id' : chefOrchestre.codeMusicien}) }}">{{ chefOrchestre.nomMusicien }} {{ chefOrchestre.prénomMusicien }}</a> a participé à la direction de cet orchestre.</p>

            <div class="row">
              <div class="col-md-12">
                 <img src="{{ path('rt_music_generatePicture', {'class':'Musicien', 'id' : chefOrchestre.codeMusicien}) }}" alt="photo du musicien {{ chefOrchestre.prénomMusicien }} {{ chefOrchestre.nomMusicien }}">
                </div>
            </div>

                {% if enregistrements is not null %}
                <h2>Morceaux dirigés par {{ chefOrchestre.prénomMusicien }} {{ chefOrchestre.nomMusicien }}</h2>

                <div class="row">
                    <div class="com-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Titre</th>
                                        <th>Durée</th>
                                        <th>Prix</th>
                                        <th>Extrait</th>
                                    </tr>
                                </thead>

                                <tbody>
                                {% for enregistrement in enregistrements %}
                                    <tr>
                                        <td>{{ enregistrement.titre }}</td>
                                        <td>{{ enregistrement.durée }}</td>
                                        <td>{{ enregistrement.prix }}</td>
                                        <td><audio controls><source src="{{ path('catalog_default_generateTrack', {'id' : enregistrement.codeEnregistrement}) }}" type="audio/mpeg"></audio></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endif %}

        </div>
    </div>



{% endblock %}