{% extends('IUTappBundle::layout.html.twig') %}

{% block title %}
    {{ musicien.prénomMusicien }} {{ musicien.nomMusicien }}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                Les albums des musiciens ne sont pas encore disponibles !
            </div>
            <div class="alert alert-warning" role="alert">
                La mise en page n'a pas encore été réalisée !
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">{{ musicien.prénomMusicien }} {{ musicien.nomMusicien }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img src="{{ path('rt_music_generatePicture', {'class':'Musicien', 'id' : musicien.codeMusicien}) }}" alt="photo du musicien {{ musicien.prénomMusicien }} {{ musicien.nomMusicien }}">

        </div>
    {#</div>#}

    {#<div class="row">#}
        <div class="col-md-8">
            <div class="jumbotron">
                <p>Prénom : {{ musicien.prénomMusicien }}</p>
                <p>Nom : {{ musicien.nomMusicien }}</p>
                <p>Année de naissance : {% if musicien.annéeNaissance != null %}{{ musicien.annéeNaissance }}{% else %} <span class="text-danger">Non renseigné</span>{% endif %}</p>
                <p>Année de mort : {% if musicien.annéeMort != null %}{{ musicien.annéeMort }}{% else %} <span class="text-danger">Non renseigné</span>{% endif %}</p>
                <p>Pays : {{ musicien.codePays }}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Oeuvres composées</h2>

            {% if oeuvres == null %}
                <p>{{ musicien.prénomMusicien }} {{ musicien.nomMusicien }} n'a pas composé d'oeuvres.</p>

            {% else %}
                <ul>
                {% for oeuvre in oeuvres %}
                    <li><a href="{{ path('catalog_oeuvre_details', {'id' : oeuvre.codeOeuvre}) }}">{{ oeuvre.titreOeuvre }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}

        </div>
    </div>

  {#  <div class="row">
        <div class="col-md-12">
            <h2>Morceaux interprétés</h2>

            {% if enregistrements == null %}
                <p>{{ musicien.prénomMusicien }} {{ musicien.nomMusicien }} n'a pas interprété de morceaux, ou ces derniers ne sont pas connus.</p>

            {% else %}
                {% for enregistrement in enregistrements %}
                    <p>{{ enregistrement.titre }}</p>
                {% endfor %}
            {% endif %}

        </div>
    </div>#}

    <div class="row">
        <div class="col-md-12">
            <h2>Orchestres dirigés</h2>

            {% if orchestras is defined %}

                {% if orchestras == null %}
                    <p>{{ musicien.prénomMusicien }} {{ musicien.nomMusicien }} n'a pas dirigé d'orchestres.</p>

                {% else %}
                    <ul>
                    {% for orchestre in orchestras %}
                        <li><a href="{{ path('catalog_orchestre_details', {'id' : orchestre.codeOrchestre}) }}">{{ orchestre.nomOrchestre }}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}

            {% endif %}
        </div>
    </div>



    <div class="row">
        <div class="col-md-12">
            <h2>Albums</h2>

            {% if albums is defined %}
                {% if albums == null %}
                <p>Les oeuvres composées par {{ musicien.prénomMusicien }} {{ musicien.nomMusicien }} ne figurent dans aucun album.</p>

                {% else %}
                    <p>Les oeuvres composées par {{ musicien.prénomMusicien }} {{ musicien.nomMusicien }} figurent dans les albums suivants :</p>
                    {% for album in albums %}
                        <p>{{ album.titreAlbum }}</p>
                    {% endfor %}

                {% endif %}
            {% endif %}

        </div>
    </div>


    {#<div class="row">
        <h3>Compositeur</h3>
        {% for composition in compositions %}
            <div class="row">
            {{ composition.codeComposition.codeComposition }}

            </div>
        {% endfor %}
    </div>#}

{% endblock %}