{% extends('IUTappBundle::layout.html.twig') %}

{% block title %}
    {{ musicien.prénomMusicien }} {{ musicien.nomMusicien }}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                Les albums des musiciens ne sont pas encore disponibles !
            </div>
            <div class="alert alert-warning" role="alert">
                La mise en page n'a pas encore été réalisée !
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">{{ musicien.prénomMusicien }} {{ musicien.nomMusicien }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img src="{{ path('rt_music_generatePicture', {'class':'Musicien', 'id' : musicien.codeMusicien}) }}" alt="photo du musicien {{ musicien.prénomMusicien }} {{ musicien.nomMusicien }}">

        </div>
    {#</div>#}

    {#<div class="row">#}
        <div class="col-md-8">
            <div class="jumbotron">
                <p>Prénom : {{ musicien.prénomMusicien }}</p>
                <p>Nom : {{ musicien.nomMusicien }}</p>
                <p>Année de naissance : {% if musicien.annéeNaissance != null %}{{ musicien.annéeNaissance }}{% else %} <span class="text-danger">Non renseigné</span>{% endif %}</p>
                <p>Année de mort : {% if musicien.annéeMort != null %}{{ musicien.annéeMort }}{% else %} <span class="text-danger">Non renseigné</span>{% endif %}</p>
                <p>Pays : {{ musicien.codePays }}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Oeuvres composées</h2>

            {% if oeuvres == null %}
                <p>Aucune oeuvre disponible pour {{ musicien.prénomMusicien }} {{ musicien.nomMusicien }}</p>

            {% else %}
                <ul>
                {% for oeuvre in oeuvres %}
                    <li><a href="{{ path('catalog_oeuvre_details', {'id' : oeuvre.codeOeuvre}) }}">{{ oeuvre.titreOeuvre }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Morceaux interprétés</h2>

            {{ dump (interpreter) }}

            {{ dump (interpretedRecords) }}

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Orchestres dirigés</h2>

            {% if orchestras is defined %}

                {% if orchestras == null %}
                    <p>{{ musicien.prénomMusicien }} {{ musicien.nomMusicien }} n'a pas dirigé d'orchestres.</p>

                {% else %}
                    <ul>
                    {% for orchestre in orchestras %}
                        <li><a href="{{ path('catalog_orchestre_details', {'id' : orchestre.codeOrchestre}) }}">{{ orchestre.nomOrchestre }}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}

            {% endif %}
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h2>Albums composés</h2>

            {% if albumsComposed is defined %}
                {% if albumsComposed == null %}
                    <p>Les oeuvres composées par {{ musicien.prénomMusicien }} {{ musicien.nomMusicien }} ne figurent dans aucun album.</p>

                {% else %}
                    <p>Les oeuvres composées par {{ musicien.prénomMusicien }} {{ musicien.nomMusicien }} figurent dans les albums suivants :</p>
                    <ul>
                        {% for album in albumsComposed %}
                            <li><a href="{{ path('rt_music_album_details', {'id' : album.codeAlbum}) }}">{{ album.titreAlbum }}</a></li>
                        {% endfor %}
                    </ul>

                {% endif %}
            {% endif %}

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Albums interprétés</h2>

            {% if albumsInterpreted is defined %}
                {% if albumsInterpreted == null %}
                <p>Les oeuvres interprétés par {{ musicien.prénomMusicien }} {{ musicien.nomMusicien }} ne figurent dans aucun album.</p>

                {% else %}
                    <p>Les oeuvres interprétées par {{ musicien.prénomMusicien }} {{ musicien.nomMusicien }} figurent dans les albums suivants :</p>
                    <ul>
                    {% for album in albumsInterpreted %}
                        <li><a href="{{ path('rt_music_album_details', {'id' : album.codeAlbum}) }}">{{ album.titreAlbum }}</a></li>
                    {% endfor %}
                    </ul>

                {% endif %}
            {% endif %}

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Albums dirigés</h2>

            {% if albumsConducted is defined %}
                {% if albumsConducted == null %}
                    <p>Les oeuvres dirigés par {{ musicien.prénomMusicien }} {{ musicien.nomMusicien }} ne figurent dans aucun album.</p>

                {% else %}
                    <p>Les oeuvres interprétées par {{ musicien.prénomMusicien }} {{ musicien.nomMusicien }} figurent dans les albums suivants :</p>
                    <ul>
                        {% for album in albumsConducted %}
                            <li><a href="{{ path('rt_music_album_details', {'id' : album.codeAlbum}) }}">{{ album.titreAlbum }}</a></li>
                        {% endfor %}
                    </ul>

                {% endif %}
            {% endif %}

        </div>
    </div>



{#
    <div class="row">
        <h3>Compositeur</h3>
        {% for composition in compositions %}
            <div class="row">
            {{ composition.codeComposition.codeComposition }}

            </div>
        {% endfor %}
    </div>
#}

{% endblock %}