{% extends('IUTappBundle::layout.html.twig') %}

{% block title %}
    Musiciens
{% endblock %}

{% block body %}


    <div class="row">
        <h1 class="text-center">Liste des musiciens</h1>
    </div>

    {#  Generation de la barre pour l'ordre alphabétique    #}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="text-center text-danger">non fonctionnel</div>
            <nav class="block-center">
                <ul class="pagination">
                    {% set letters = "ABCDEFGHIJKLMNOPQRSTUVWYZ"|split('')  %}
                    {% for letter in letters %}
                        <li><a href="#">{{ letter }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr><td></td><td>Nom</td><td>Prénom</td></tr>
                    </thead>
                    <tbody>
                        {% for musicien in musiciens %}
                            <tr>
                                <td><img width="100px" height="100px" class="img-circle"   src="{{ path('rt_music_generatePicture', {'class':'Musicien', 'id' : musicien.codeMusicien}) }}"
                                         alt="photo de {{ musicien.prénomMusicien }} {{ musicien.nomMusicien }}">
                                </td>
                                <td><a href="{{ path('rt_music_musicien_details_page', {'id' : musicien.codeMusicien}) }}">{{ musicien.nomMusicien }}</a></td>
                                <td>{{ musicien.prénomMusicien }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>




    {# Pagination #}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <nav>
                <ul class="pagination">
                    {% if page > 1 %}
                        <li>
                            <a href="{{ path('rt_music_musicienspage', {'page' : page-1}) }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}

                    {% for i in 1..nbPages %}

                        <li {% if i == page %} class="active" {% endif %}><a href="{{ path('rt_music_musicienspage', {'page' : i}) }}">{{ i }}</a></li>
                    {% endfor %}

                    {% if page < nbPages %}
                        <li>
                            <a href="{{ path('rt_music_musicienspage', {'page' : page+1}) }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>


    {% endblock %}