{% extends('IUTappBundle::layout.html.twig') %}

{% block title %}
    Musiciens
{% endblock %}

{% block body %}


    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">{{ listTitle }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning" role="alert">
                Certaines images ne sont pas chargées ! ( réponse trop longue du serveur ? )
            </div>
        </div>
    </div>


    {#  Generation de la barre pour l'ordre alphabétique    #}
    <div class="row">
        <div class="col-md-12">
            <nav class="block-center">
                <ul class="pagination">
                    {% set letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"|split('')  %}
                    {% for alphabetLetter in letters %}
                        <li {% if letter == alphabetLetter %} class="active" {% endif %}>
                            <a href="{{ path(route, {'letter' : alphabetLetter}) }} ">
                                {{ alphabetLetter }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

    {# cpt is used to know if we have to create a new row #}
    {% set cpt = 1 %}
    {%  for musicien in musiciens %}
        {# new line #}
        {% if cpt % 4 == 0 %}<div class="row">{% endif %}
        <div class="col-md-3">

        {# album card#}
        <div class="thumbnail">
            {# picture #}
            <a class="text-center"  href="{{ path('rt_music_musicien_details_page', {'id' : musicien.codeMusicien}) }}">
                <img {#width="100px" height="100px"#} class="img-rounded center-block" src="{{ path('rt_music_generatePicture', {'class':'Musicien', 'id' : musicien.codeMusicien}) }}"
                     alt="photo de {{ musicien.prénomMusicien }} {{ musicien.nomMusicien }} ">
            </a>



        {# Infos #}
        <div class="caption">
        <h3 class="text-center">
            <strong><a href="{{ path('rt_music_musicien_details_page', {'id' : musicien.codeMusicien}) }}">
                    {{ musicien.prénomMusicien }} {{ musicien.nomMusicien }}
                </a></strong>

        </div>
    </div>
    </div>

    {# close new line #}
    {% if cpt % 4 == 0 %}</div>{% endif %}
    {% set cpt = cpt + 1 %}
    {% endfor %}

    </div>
    </div>

    {% endblock %}