{% extends('IUTappBundle::layout.html.twig') %}

{% block title %}
    {{ instrument.nomInstrument }}
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <h1>{{ instrument.nomInstrument }}</h1>
    </div>
</div>

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                La liste des albums disponibles dans le catalogue pour cet instrument de musique n'est pas encore disponible
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-md-12">
        <img src="{{ path('rt_music_generatePicture', {'class':'Instrument', 'id' : instrument.codeInstrument}) }}" alt="image de l'instrument de musique {{ instrument.nomInstrument }}">

        <div class="row">
            <div class="col-md-12">
                <h2>Albums interprétés</h2>

                {% if albums is defined %}
                    {% if albums == null %}
                        <p class="text-danger">Aucun album pour cet instrument</p>

                    {% else %}
                        <ul>

                            {% for album in albums %}
                                <li><a href="{{ path('rt_music_album_details', {'id' : album.codeAlbum}) }}">{{ album.titreAlbum }}</a></li>
                            {% endfor %}
                        </ul>

                    {% endif %}
                {% endif %}

            </div>
        </div>

    </div>
</div>



{% endblock %}