{% extends('IUTappBundle::layout.html.twig') %}

{% block title %}
    Instruments
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Liste des instruments</h1>
        </div>
    </div>

    {#  Generation de la barre pour l'ordre alphabétique    #}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="text-center text-danger">non fonctionnel</div>
            <nav class="block-center">
                <ul class="pagination">
                    {% set letters = "ABCDEFGHIJKLMNOPQRSTUVWYZ"|split('')  %}
                    {% for letter in letters %}
                        <li><a href="#">{{ letter }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <td></td>
                        <td><strong>Nom</strong></td>
                    </tr>
                    </thead>
                    <tbody>
                    {%  for instrument in instruments %}
                        <tr>
                            <td><img width="100px" height="100px" class="img-circle"   src="{{ path('rt_music_generatePicture', {'class':'Instrument', 'id' : instrument.codeInstrument}) }}"
                                     alt="photo de l'instrument {{ instrument.nomInstrument }}"></td>
                            <td><a href="{{ path('catalog_instrument_details', {'id' : instrument.codeInstrument }) }}">{{ instrument.nomInstrument }}</a></td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}